/*
// CSS RESET -------------------------------------------------------------------------
//
// Based on HTML5 Boilerplate and Compass CSS Reset
// https://github.com/h5bp/html5-boilerplate
// http://compass-style.org/reference/compass/reset
*/

html, body, div, span, object, iframe, canvas,
h1, h2, h3, h4, h5, h6, p, a, img,
strong, sub, sup, b, u, i, center,
ol, ul, li,
form, label, table, tr, td,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;

	/* Enable smooth fonts */
	-webkit-text-stroke: 1px transparent;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
	     -o-font-smoothing: antialiased;
	        font-smoothing: antialiased;

	/*
	// Improve image scaling
	// https://developer.mozilla.org/nl/docs/CSS/image-rendering
	*/
	image-rendering: auto;
	-ms-interpolation-mode: bicubic;

	/*
	// Override the semitransparent color overlay when a user clicks something
	// to disable it set value to 'transparent' or 'rgba(0,0,0,0)'
	*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	/*
	// Prevent iOS text size adjust on focus or after orientation change
	// without disabling zoom with the viewport meta-tag
	// https://developer.mozilla.org/en-US/docs/CSS/text-size-adjust
	*/
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;

	/*
	// Enable javascript pointer events on IE Mobile by disabling events in CSS
	// http://msdn.microsoft.com/en-us/library/ie/hh673557(v=vs.85).aspx
	*/
	-ms-touch-action: none;
}

/*
// FIX BROKEN BOX-MODEL 
// Note: doesn't work in IE7 (padding is still added to the box width/height)
// https://developer.mozilla.org/en-US/docs/CSS/box-sizing
*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*
// CLEARFIX
// Note: still supports IE7
// http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
*/
.clear:before, .clear:after {
	content: "";
	display: table;
}
.clear:after {
	clear: both;
}
.clear {
	*zoom: 1;
}








/*
// BASE 64 ENCODED IMAGES
// Note: Encoded images must be smaller then 32kb (or IE won't show them)
// http://www.askapache.com/online-tools/base64-image-converter
// background: url(data:image/__typegoeshere__;base64,____);
*/


/*
// USING REM-UNITS vs EM-UNITS
// Not integrating this for the moment, but it's something to keep in mind
// rem-units are supported by all major browsers (except IE7, IE8)
// http://drublic.de/blog/rem-fallback-sass-less
// http://caniuse.com/#search=rem
*/


/*
// CUSTOM WEBFONTS -------------------------------------------------------------------
//
// A custom webfont needs 4 file-types: .woff, .ttf, .svg, .eot
// all files need to be stored in ../fonts/
// http://www.fontsquirrel.com/tools/webfont-generator
*/

@font-face {
	font-family: "{{__My awesome font name__}}";
	src: url('../fonts/{{__some-other-font-name__}}.eot');
	src: url('../fonts/{{__some-other-font-name__}}.eot?#iefix') format('eot'),
	     url('../fonts/{{__some-other-font-name__}}.woff') format('woff'),
	     url('../fonts/{{__some-other-font-name__}}.ttf') format('truetype'),
	     url('../fonts/{{__some-other-font-name__}}.svg#webfont') format('svg');
	font-weight: "normal";
	font-style: "normal";
}








/*
// HELPERS ---------------------------------------------------------------------------
*/

/*
// TRIM TEXT
// Trims & add ellipsis (...)
// Note: only works with a fixed width & single line text
// http://www.electrictoolbox.com/ellipsis-html-css
*/
.trim {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	 -o-text-overflow: ellipsis;
	    text-overflow: ellipsis;
}

/*
// TRIM MULTILINE TEXT
// Trims & add ellipsis (...) to multiline text
// Note: only works in Webkit browsers & Safari
// http://www.css-101.org/articles/line-clamp/line-clamp_for_non_webkit-based_browsers.php
*/
.line-clamp {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;

	/* number of lines to show */
	-webkit-line-clamp: 3;
}

/*
// BREAK WORDS
// Prevent longwordsorurlswithoutspacesfrombreaking your layout
// http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css
*/
.break-word { 
	-ms-word-break: break-all;
	    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
}

/*
// QUOTES
// Adds "quotes" to text
// http://www.cssbakery.com/2010/12/html-blockquote-element-css-content-and.html
*/
.quotes:before {
	content: "\201C";
}
.quotes:after {
	content: "\201D";
}

/*
// EMPHASIZE
// Bigger, bold first character
// Note: doesn't work on inline elements (eg <span>)
// http://css-tricks.com/almanac/selectors/f/first-letter/
*/
.emphasize:first-letter {
	font-size: 180%;
	font-weight: bold;
}

/*
// EMBEDDED CONTENT
// Wrapper for fluid embedded content (vimeo, youtube, slideshare, ...) @16:9 ratio
// For this to work, use the following HTML-structure:
// <div class="embed-content">
//     Embedded code...
// </div>
*/
.embedded-content { 
	height: 0;
	position: relative;
	padding-bottom: 56.4%; /* 16:9 ratio = 56.25%, but 56.4% works better with vimeo */
	overflow: hidden;
}
.embedded-content iframe,
.embedded-content object,
.embedded-content embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/*
// NO TOUCH CALLOUT
// Prevent a popup menu on mobile devices on touch & hold
// http://davidwalsh.name/webkit-css
*/
.no-popup {
	-webkit-touch-callout: none;
}

/*
// NON-SELECTABLE
// Prevent something from being selected with the mouse/touch
// Different implementations of this can be found online
// but we're rolling with the generated Compass code here
*/
.non-selectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}

/*
// CSS3 ANIMATIONS
// Example for CSS3 animations
// http://blog.teamtreehouse.com/increase-your-sites-performance-with-hardware-accelerated-css
*/
.CSS3Animation {
	/* enable harware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	     -o-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);

	/* animate */
	-webkit-transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);
	   -moz-transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);
	    -ms-transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);
	     -o-transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);
	        transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);

	/* prevent flickering in animation */
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

/*
// ENABLE HARDWARE ACCELERATION
// Kick in hardware acceleration (better performance on mobile)
// http://blog.teamtreehouse.com/increase-your-sites-performance-with-hardware-accelerated-css
*/
.CSS3HardwareAcceleration {
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	     -o-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}








/*
// GENERAL ---------------------------------------------------------------------------
*/

html {
	line-height: 1;
	height: 100%;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;	
	font-weight: normal;
	font-style: normal;
	font-size: 16px;

	/*
	// If the viewport meta tag is not included: use min-width for correct 
	// scaling on orientationchange (IOS default page-width: 980px)
	*/
	min-width: 980px;
	height: 100%;
}

h1 {
	font-size: 2.2em;
	line-height: 1.5em;
}

h2 {
	font-size: 1.8em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.4em;
	line-height: 1.5em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

a {
	text-decoration: underline;
}

a:hover, 
a:active {
	text-decoration: none;	
}

a img {
	border: 0;
}

ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; 
}

hr {
	height: 1px;
	margin: 1.5em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #CCC;
	display: block;
}

.smaller {
	font-size: 70%;
}

/*
// Add .no-touch class to the HTML tag if touchEvents are not supported
// This way we can disable :hover states on touch-devices
// Note: javascript will add it for you - see js/sources/app.js
*/
.no-touch {
		
}






/*
// MOBILE LANDSCAPE ------------------------------------------------------------------
*/

@media screen and (min-width: 480px) {

}








/*
// TABLET PORTRAIT -------------------------------------------------------------------
*/

@media screen and (min-width: 768px) {

}








/*
// TABLET LANDSCAPE ------------------------------------------------------------------
*/

@media screen and (min-width: 1024px) {

}








/*
// DESKTOP ---------------------------------------------------------------------------
*/

@media screen and (min-width: 1025px) {

}








/*
// RETINA SUPPORT FOR HDPI SCREENS ---------------------------------------------------
//
// Include hdpi images for retina screens here
// Note: if you specify a non-retina image + retina image you'll download 2 images (!)
// If you want to enable fluid/responsive images without loading assets 2 times
// take a look at js/dev/responsiveImages.js
*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    /* Retina optimized styles go here */
}







