// General imports ------------------------------------------------------------

@import 'base/config_global';
@import 'base/config_site';
@import 'base/functions';

@import 'base/state.scss';
@import 'module/normalize';

// Module imports -------------------------------------------------------------

@import 'module/doc';
@import 'module/container';
//@import 'module/reporting';
//@import 'module/form';
//@import 'module/button';

@import 'demo-module/menu';


// Vendor imports -------------------------------------------------------------

//@import 'vendor/....';

// Styles ---------------------------------------------------------------------

header
{
	background: $black-5;
}

// IE10+ fix -------------------------------------------------------------------

@-ms-viewport { width: device-width; } /* IE10 viewport fix */
@viewport { width: device-width; }

// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

@import 'module/print';