// General imports ------------------------------------------------------------

@import 'base/config_global';
@import 'base/config_site';
@import 'base/functions';

@import 'base/state.scss';
@import 'module/normalize';

// Module imports -------------------------------------------------------------

@import 'module/doc';
@import 'module/container';
//@import 'module/reporting';
//@import 'module/form';
//@import 'module/button';

@import 'demo-module/menu';


// Vendor imports -------------------------------------------------------------

//@import 'vendor/....';







// Styles ---------------------------------------------------------------------

header
{
	background: $black-5;
}

.introduction, .features
{
	margin-bottom: em(40);
}

	.introduction__image
	{
		@include column(6);

		@include media-max($default-column-breakpoint)
		{
			margin-bottom: em(20);
		}
	}

	.introduction__text
	{
		@include column(6, true);

		@include media-max(970px)
		{
			font-size: 90%;
		}
		@include media-max(870px)
		{
			font-size: 80%;
		}
		@include media-max($default-column-breakpoint)
		{
			font-size: 100%;
		}
		@include media-max(460px)
		{
			font-size: 90%;
		}
	}

	.features__feature
	{
		&:nth-child(odd) { @include column(6); }
		&:nth-child(even) { @include column(6, true); }

		&:not(:last-child) { @include column(3, false, 970px); }
		&:last-child { @include column(3, true, 970px); }

		@include media-max($default-column-breakpoint)
		{
			&:not(:last-child) { margin-bottom: em(20); }
		}
		@include media-min($default-column-breakpoint)
		{
			&:nth-child(-n + 2) { margin-bottom: em(20); }
		}
		@include media-min(970px)
		{
			&:nth-child(-n + 2) { margin-bottom: 0; }
		}
	}

		.feature__image { margin-bottom: em(20); }
		.feature__text
		{
			@include media-max(460px)
			{
				font-size: 90%;
			}
			@include media-min($default-column-breakpoint)
			{
				font-size: 90%;
			}
			@include media-min(970px)
			{
				font-size: 80%;
			}
		}












// IE10+ fix -------------------------------------------------------------------

@-ms-viewport { width: device-width; } /* IE10 viewport fix */
@viewport { width: device-width; }

// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

@import 'module/print';