/*
   ==========================================
   FONTS-FACE
   ==========================================
*/

/* Include here */
/*
** Don't forget to add this family to partials/doc if this is a body type
** If so ... add it to partials/form also to use it in inputs and what not
*/

/*
   ==========================================
   IMPORTS
   ==========================================
*/

@import "partials/base";
@import "partials/normalize";
@import "partials/doc";
@import "partials/fluidgrid";
@import "partials/helper";
/*@import "partials/reporting";*/
/*@import "partials/form";*/
/*@import "partials/button";*/
@import "partials/text";

/*
   ==========================================
   COMMON STYLES
   ==========================================
*/

/* Things like header, footer, ... keeping it DRY */

/*
   ==========================================
   CUSTOM STYLES
   ==========================================
*/



/*
   ==========================================
   VENDOR IMPORTS
   ==========================================
*/

/*@import "vendor/....";*/

/*
   ==========================================
   MEDIA QUERIES
   ==========================================
*/

@-ms-viewport { width: device-width; } /* IE10 viewport fix */
@viewport { width: device-width; }

@include media-query(em(700))
{
	.col { margin-left: 5%; margin-bottom: 0; }
	.col.col-2 { width: 46%; margin-left: 8%; }
	.col.col-3 { width: 30%; }
	.col.span-2 { width: 65%; }
	.col.col-4 { width: 21.25%; }
	.col.span-3 { width: 73.75%; }

	/*.row { margin-bottom: 2em; }*/
		.row .col:first-child, .row > .col-2:nth-of-type(3n), .row > .col-3:nth-of-type(3n + 1),
		.row > .col-4:nth-of-type(4n + 1) { margin-left: 0; }
		.row > .col-2:nth-of-type(3n), .row > .col-3:nth-of-type(3n + 1),
		.row > .col-4:nth-of-type(4n + 1) { clear: left; }
		.row .col:last-of-type { overflow: hidden; overflow: visible; }
}

/*@include highres()
{
	
}*/

/*
   ==========================================
   PRINT & IE
   ==========================================
*/

@import "ie";
@import "print";