/*
   ==========================================
   FONTS-FACE
   ==========================================
*/

/* Include here */

/*
   ==========================================
   IMPORTS
   ==========================================
*/

@import "partials/base";
@import "partials/normalize";
@import "partials/doc";
@import "partials/fluidgrid";
@import "partials/helper";

/*
   ==========================================
   CUSTOM STYLES
   ==========================================
*/



/*
   ==========================================
   MEDIA QUERIES
   ==========================================
*/

$bp700: pxtoem(700, 16);
@include media-query($bp700)
{
	.col { margin-left: 5%; margin-bottom: 0; }
	.col.col-2 { width: 46%; margin-left: 8%; }
	.col.col-3 { width: 30%; }
	.col.span-2 { width: 65%; }
	.col.col-4 { width: 21.25%; }
	.col.span-3 { width: 73.75%; }
	
	.row { margin-bottom: 2em; /* Change to prefs ---------------------------------! */ }
		.row .col:first-child { margin-left: 0; }
		.row .col:last-of-type { overflow: hidden; overflow: visible; }
}

/*@include highres()
{
	
}*/

/*
   ==========================================
   PRINT & IE
   ==========================================
*/

@import "ie";
@import "print";