<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	
    	<!-- SEO -->
    	
        <title>__PAGE_TITLE__</title>
        <meta name="description" content="__PAGE_DESCRIPTION__">
        <meta name="keywords" content="__PAGE_KEYWORDS__">
        <meta name="author" content="__PAGE_AUTHOR__">

        <!-- Spiders must use meta description -->

        <meta name="robots" content="noodp, noydir">

        <!-- No Google Translate toolbar -->

        <meta name="google" content="notranslate">
        
        <!-- Viewport and mobile -->
        
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="320">
        <meta http-equiv="cleartype" content="on">

        <!-- iOS web app -->

        <!-- Note: more options here: https://gist.github.com/tfausak/2222823 -->

        <!--
    	<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-title" content="__PAGE_TITLE__">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black">
        -->
    	
    	<!-- Icons -->

        <!-- Note: to support IE10, don't forget to update the .ico in the meta folder -->
        <!-- Note 2: One touch icon is enough, but it wastes bandwidth (http://mathiasbynens.be/notes/touch-icons) -->
    	
        <!--
        <link rel="apple-touch-iconprecomposed" sizes="152x152" href="images/icons/apple-touch-icon-152x152.png">
    	<link rel="icon" href="images/icons/favicon.png">
        <meta name="msapplication-TileImage" content="images/icons/wp-tile-icon-144x144.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
    	-->
