//  Button Module -------------------------------------------------------------
//
// Resets and sets some default styles that <button> and <a> elements have

%button
{
	border: none; background: none;
	outline: none;
	font-family: $font-stack;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;
	
	&:disabled { opacity: 0.5; }
}

// Modifiers ------------------------------------------------------------------
//
// Use these classes in your HTML

/*
.button--grey
{
	@extend %button;

	background-color: $black-30;
	color: $black-70;
	@include rem(padding, 15);
	
	&:hover
	{
		background-color: $black-20;
	}
	&:active
	{
		background-color: $black-40;
	}
}
*/
