// Selection color ------------------------------------------------------------

::-moz-selection
{
    background: $black-10;
    text-shadow: none;
}

::selection
{
    background: $black;
    text-shadow: none;
}

// Headings -------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6
{
	// Push down following content here
	// @include rem(margin, 0, 0, 30);

	&:last-of-type:last-child { margin-bottom: 0; }

	// Optional: Push in headings for a better hand-held reading experience
	// @include media-max($default-column-breakpoint) { padding-left: em(10); padding-right: em(10); }
}

// Paragraphs -----------------------------------------------------------------

p
{
	// Push down following content here
	// @include rem(margin, 0, 0, 30);
	
	&:last-of-type:last-child { margin-bottom: 0; }
	
	// Optional: Push in headings for a better hand-held reading experience
	// @include media-max($default-column-breakpoint) { padding-left: em(10); padding-right: em(10); }
}

// Lists ----------------------------------------------------------------------

ul
{
	// Justifies bullets to left without additional spacing
	margin: 0;
	padding: 0 0 0 1em;

	// Push down following content here
	// @include rem(margin, 0, 0, 30);

	&:last-of-type:last-child { margin-bottom: 0; }
}
