//  Button Module -------------------------------------------------------------
//
// Use as following example:
// <a class="button -grey" href=""></a>

.button
{
	border: none; background: none;
	outline: none;
	font-family: $font-stack;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;
	
	&:disabled { opacity: 0.5; }

	// Modifiers --------------------------------------------------------------

	/*
	&.-grey
	{
		@extend %button;

		background-color: shade($white, 60%);
		color: $white;
		
		&:hover
		{
			background-color: shade($white, 50%);
		}
		&:active
		{
			background-color: shade($white, 70%);
		}
	}
	*/
}