// Form Module ----------------------------------------------------------------
//
// Not as much a module, but separated as one to group all form styles

label
{
	display: block;
	margin: 0 0 em($doc-em-factor);

	&:last-of-type, &:last-child { margin-bottom: 0; }
	
	input
	{
		margin-top: em(5);
	}
}
input, textarea { font-family: $font-stack; }
input[type=text], input[type=password], textarea
{
	border: em(1) solid $black;
	background: $black;
	border-radius: em(5);
	color: $black;
	padding: em(10) em(20) em(8);
	line-height: 1.5;
	
	&:focus
	{
		background-color: transparent;
	}
}