// Container Module -----------------------------------------------------------
//
// A centered block element with a maximum width.
// Padded through $min-page-padding (_config_global.scss)

.container
{
	@extend %is-cf;
	width: 100% - 2*$min-page-padding;
	margin: 0 auto;
	max-width: $max-container-width;
	
	// Responsive images, yay!
	img
	{
	    height: auto;
		max-width: 100%;
		height: auto !important;
		
	    // width: auto\9; // IE 8 fix
	    // -ms-interpolation-mode: bicubic; // IE 7 fix
	}
}
