// Form Module ----------------------------------------------------------------
//
// Not as much a module, but separated as one to group all form styles

fieldset,
label
{
	@include rem(margin, 0, 0, strip($base-font-size));
	padding: 0;

	&:last-of-type,
	&:last-child { margin-bottom: 0; }
}

label
{
	input { @include rem(margin-top, 5); }
}

input,
textarea
{
	// NOTE
	// 
	// For the sake of being able to easily use the HTML5 input types
	// and not styling the "submit" type with this selector,
	// please use the <button type="submit"></button> instead.
	// Otherwise, expand above "input" to the desired types.

	font-family: $font-stack;
	border: 1px solid $black;
	background: $white;
	@include rem(border-radius, 5);
	color: $black;
	@include rem(padding, 10, 20, 8);
	line-height: 1.5;
	
	&:focus
	{
		background-color: transparent;
	}
}
