// Reporting Module -----------------------------------------------------------
//
// For everyone's feedback needs, the reporting module will provide
// Easily setup Success, Error, Warning, and Info messages and lists
//
// Also, see the Utils.insertReporting() function for usage through javascipt

.report
{
	color: $reporting-text;
	border: 1px solid transparent;
	@include rem(padding, 10, 20);
	@include rem(margin, 0, 0, strip($base-font-size)*1.5)

	&:last-of-type:last-child { margin-bottom: 0; }
}

ul.report,
ol.report
{ @include rem(padding-left, 35); }

// Modifiers ------------------------------------------------------------------
//
// Note: colors are set in _config_site.scss

.report--success
{
	@extend .report;

	background: $reporting-success-light;
	border-color: $reporting-success;
}

.report--error
{
	@extend .report;

	background: $reporting-error-light;
	border-color: $reporting-error;
}

.report--warning
{
	@extend .report;

	background: $reporting-warning-light;
	border-color: $reporting-warning;
}

.report--info
{
	@extend .report;

	background: $reporting-info-light;
	border-color: $reporting-info;
}
