// General imports ------------------------------------------------------------

@import 'base/config_global';
@import 'base/config_site';
@import 'base/functions';

@import 'base/state.scss';
@import 'module/normalize';

// Module imports -------------------------------------------------------------

@import 'module/container';
//@import 'module/font';
//@import 'module/text';
//@import 'module/reporting';
//@import 'module/form';
//@import 'module/button';

// Vendor imports -------------------------------------------------------------

//@import 'vendor/....';


// Border-box rules! ----------------------------------------------------------

*, *:after, *:before
{
	@include box-sizing('border-box');
}

// Document -------------------------------------------------------------------
//
// The font-size is calculated as a % from the browser default of 16

html, body
{
    font-family: $font-stack;
    font-size: (strip($base-font-size) / 16 * 100) * 1%;
    line-height: 1.5;
    background-color: $white;
    color: $black-75;
	height: 100%;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Styles ---------------------------------------------------------------------



// IE10+ fixes ----------------------------------------------------------------

@-ms-viewport { width: device-width; } // viewport fix
@viewport { width: device-width; }

a, input, button { -ms-touch-action: none !important; } // Touch-delay fix

// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

@import 'module/print';