// General imports ------------------------------------------------------------

@import 'base/config_global';
@import 'base/functions';
@import 'base/config_site';

@import 'module/state';
@import 'module/normalize';

// Module imports -------------------------------------------------------------

//@import 'module/container';
//@import 'module/font';
//@import 'module/text';
//@import 'module/reporting';
//@import 'module/form';
//@import 'module/button';

// Vendor imports -------------------------------------------------------------

//@import 'vendor/somestyles';

// Border-box rules! ----------------------------------------------------------

*,
*:after,
*:before
{
	box-sizing: border-box;
}

// Document -------------------------------------------------------------------
//
// The font-size is calculated as a % from the browser default of 16

html,
body
{
    font-family: $font-stack;
    font-size: (strip($base-font-size) / 16 * 100) * 1%;
    line-height: 1.5;
    background-color: $white;
    color: $black-75;
	height: 100%;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Styles ---------------------------------------------------------------------



// IE10+ fixes ----------------------------------------------------------------

// viewport fix
// http://msdn.microsoft.com/en-us/library/ie/hh869615(v=vs.85).aspx
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

// Touch-delay fix
// http://msdn.microsoft.com/en-us/library/ie/hh772044(v=vs.85).aspx
a,
input,
button { -ms-touch-action: none !important; }

// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

@import 'module/print';
