// Menu Module ----------------------------------------------------------------

.menu
{
	ul
	{
		margin: 0;
		padding: 0;
		@extend .is-cf;
	}
	li
	{
		list-style-type: none;

		a
		{
			@extend .is-bold;
			display: block;
			text-decoration: none;
		}
	}
}

//  Modifiers -----------------------------------------------------------------

.menu--header
{
	@extend .menu;

	margin-bottom: em(20);
	
	li { text-align: center; }
	li:not(:last-child)
	{
		@include column(4);
		border-bottom: em(1) solid $black-10;

		@include media-min($default-column-breakpoint)
		{
			border-bottom: none;
		}
	}
	li:last-child { @include column(4, true); }
	a
	{
		color: $black-75;
		padding: em(15);
		line-height: 1;
		
		&:hover { color: $black-50; }
		&:active { color: $black; }
	}
}

.menu--footer
{
	@extend .menu;

	background-color: $black-75;
	padding: em(20);

	li
	{
		float: left;
		&:not(:last-child)
		{
			margin-right: em(20);
		}
	}
	a
	{
		font-size: em(12);
		color: $black-25;
		line-height: 1;

		&:hover { color: $black-10; }
		&:active { color: $black-50; }
	}
}