@import "compass";

/* Accent colors */



/* Greys */

$black: #000000;
$white: #ffffff;

/* Color maps */

$doc-bg-color: $white;
$doc-text-color: $black;
$heading-color: $black;
$link-color: $black;
$link-hover-color: $link-color;

/* Document vars */

$max-container-width: 1140px;
$doc-font-size: 100%; /* 16px */
$doc-em-factor: 16;

@import "modules/all"