.button
{
	border: none;
	background-color: $black;
	color: $black;
	font-weight: bold;
	padding: em(15);
	border-radius: em(15);
	text-decoration: none;
	outline: none;
	display: inline-block;
	
	/*&.some-color-button
	{
		background-color: $color;
		color: $white;
		line-height: 1;
		
		&:hover
		{
			background-color: $dark-color;
		}
	}*/
}

.loading .button
{
	background-image: url();
	background-repeat: no-repeat;
	background-position: center center;
	color: transparent;
	
	/*&.some-color-button:hover
	{
		background-color: $color;
	}*/
}