.button
{
	border: none;
	background-color: $black;
	color: $white;
	font-weight: bold;
	padding: em(15);
	border-radius: em(15);
	text-decoration: none;
	outline: none;
	display: inline-block;
	
	&:visited, &:hover, &:active
	{
		color: $black;
	}
	&:disabled { opacity: 0.5; }
	
	/*&.some-color-button
	{
		background-color: $color;
		color: $white;
		line-height: 1;
		
		&:hover
		{
			background-color: $dark-color;
		}
	}*/
	
	&.loading
	{
		background-repeat: no-repeat;
		background-position: center center;

		&, &:hover, &:active { color: transparent; }
		/*&.some-color-button:hover, &.some-color-button:active { background-color: $black; }
		&.some-color-button
		{
			background-image: url();
		} */
	}
}