:root .switch input[type="checkbox"] /* :root here acting as a filter for older browsers */
{
	position: absolute;
	opacity: 0;
}

:root .switch input[type="checkbox"] + div
{
	display: inline-block;
	vertical-align: middle;
	width: pxtoem(48,16);
	height: pxtoem(22,16);
	border-radius: pxtoem(999,16);
	@include background(linear-gradient(to right, $blue 50%, $black-15 50%));
	background-size: 200% 100%;
	background-position: 100% 0;
	background-origin: border-box;
	background-clip: border-box;
	padding: pxtoem(3,16);
	@include transition-duration(.4s);
	@include transition-property(padding, width, background-position, text-indent);
	font-size: 150%; /* change this and see how they adjust! */
	overflow: hidden;
	
	cursor: pointer;
}

:root .switch input[type="checkbox"]:checked + div
{
	padding-left: pxtoem(30,16);
	width: pxtoem(48,16);
	background-position: 0 0;
}

:root .switch input[type="checkbox"] + div:before
{
	content: 'On';
	float: left;
	width: pxtoem(26,16);
	height: pxtoem(26,16);
	margin: -pxtoem(2,16);
	border-radius: inherit;
	background: $white;
	color: $white;
	text-indent: -2.1875em;
}

:root .switch input[type="checkbox"]:active + div:before
{
	background-color: #eee;
}

:root .switch input[type="checkbox"]:focus + div
{
	
}

:root .switch input[type="checkbox"] + div:before,
:root .switch input[type="checkbox"] + div:after
{
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
}

:root .switch input[type="checkbox"] + div:after
{
	content: 'Off';
	float: left;
	text-indent: pxtoem(8,16);
	color: $black-60;
}