/* Better grid controle with border-box */

*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* Body settings */

html, body { height: 100%; }

body
{
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* Selection color */

::-moz-selection
{
    background: $black;
    text-shadow: none;
}

::selection
{
    background: $black;
    text-shadow: none;
}

/* Make p and label tags behave */

p, label { margin: 0 0 1em; }
p:last-of-type, label:last-of-type { margin-bottom: 0; }