.report, p.report, ul.report
{
	color: #333333;
	padding: em(10) em(20); 
	position: relative;
}
label.error
{
	.report
	{
		position: absolute;
		display: inline-block;
		top: em(-30);
		right: 0;
		
		&:before
		{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border: 7px transparent solid;
			border-top-color: #FADCD7;
			border-top-width: 10px;
			border-bottom: none;
			position: absolute;
			top: 100%;
			right: 20px;
			z-index: 2;
		}
		
		&:after
		{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border: 9px transparent solid;
			border-top-color: #F39B88;
			border-top-width: 11px;
			border-bottom: none;
			position: absolute;
			top: 100%;
			right: 18px;
			z-index: 1;
			margin-left: 1px;
		}
	}
}
.report.hide, p.report.hide, ul.report.hide
{
	padding: 0;
}
p.info, ul.info
{
	background: #DAE5F0;
	border: em(1) solid #90B1D2; 
}
p.error, ul.error
{
	background: #FADCD7;
	border: em(1) solid #F39B88; 
}
p.warning, ul.warning
{
	background: #FCF5D6;
	border: em(1) solid #F7E287; 
}
p.success, ul.success
{
	background: #DEF1DD;
	border: em(1) solid #A2D69A;
}
	.report .closebtn, .report .closebtn:active, .report .closebtn:visited, .report .closebtn:hover
	{
		/*
		** Use following HTML for an image-less solution:
		
		<button class="closebtn">&#215;</button>
		
		*/
		
		position: absolute;
		top: em(15); 
		right: em(15); 
		text-decoration: none;
		display: inline-block;
		line-height: 1;
		padding: em(1) em(4) em(2) em(4); 
		text-align: center;
		border-radius: 50%;
		font-family: Helvetica, sans-serif;
		font-weight: bold;
		border: none;
	}
	.info .closebtn
	{
		background-color: #90B1D2;
		color: #DAE5F0;
	}
	.error .closebtn
	{
		background-color: #F39B88;
		color: #FADCD7;
	}
	.warning .closebtn
	{
		background-color: #F7E287;
		color: #FCF5D6;
	}
	.success .closebtn
	{
		background-color: #A2D69A;
		color: #DEF1DD;
	}