/* Smoothing */

-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;

/* Selection color */

::-moz-selection
{
    background: $black;
    text-shadow: none;
}

::selection
{
    background: $black;
    text-shadow: none;
}

/* Headings */

h1, h2, h3, h4
{
	margin-top: 0;
	color: $heading-color;
}

/* Make p and label tags behave */

p, label { margin: 0 0 em($doc-em-factor); }
p:last-of-type, label:last-of-type { margin-bottom: 0; }

/* Links */

a, a:visited
{
	color: $link-color;
	text-decoration: none;
}
a:hover
{
	color: $link-hover-color;
	text-decoration: underline;
}