// Accent colors --------------------------------------------------------------



// Greys ----------------------------------------------------------------------

$white: #FFF;
$black-5: shade($white, 5%);
$black-10: shade($white, 10%);
$black-15: shade($white, 15%);
$black-20: shade($white, 20%);
$black-25: shade($white, 25%);
$black-30: shade($white, 30%);
$black-35: shade($white, 35%);
$black-40: shade($white, 40%);
$black-45: shade($white, 45%);
$black-50: shade($white, 50%);
$black-55: shade($white, 55%);
$black-60: shade($white, 60%);
$black-65: shade($white, 65%);
$black-70: shade($white, 70%);
$black-75: shade($white, 75%);
$black-80: shade($white, 80%);
$black-85: shade($white, 85%);
$black-90: shade($white, 90%);
$black-95: shade($white, 95%);
$black: #000;

// Reporting ------------------------------------------------------------------
//
// Using in the Reporting module (module/_reporting.scss)

$reporting-text: #333333;

$reporting-success: #A2D69A;
$reporting-success-light: #DEF1DD;
$reporting-error: #F39B88;
$reporting-error-light: #FADCD7;
$reporting-warning: #F7E287;
$reporting-warning-light: #FCF5D6;
$reporting-info: #90B1D2;
$reporting-info-light: #DAE5F0;

// Font-stack -----------------------------------------------------------------
//
// Helvetica Neue is nice to have
// Helvetica is the aimed-for default
// Verdana is available on iOS, WP and BlackBerry
// Roboto should be available on Android
// Fall back to any sans-serif
//
// http://www.jordanm.co.uk/tinytype

$font-stack: Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
