//
// EMBEDDED CONTENT MIXIN ------------------------------------------------------------
//
// Mixin for fluid embedded content (vimeo, youtube, slideshare, ...) @16:9 ratio
// http://amobil.se/2011/11/responsive-embeds
//
// For this mixin to work, use the following HTML-structure:
// <div class="embed-content">
//     Embedded code...
// </div>
//

@import "compass/css3";


@mixin embedded-content() {
	height: 0;
	position: relative;
	padding-bottom: 56.4%; // 16:9 ratio = 56.25%, but 56.4% works better with vimeo
	overflow: hidden;

	iframe,
	object,
	embed {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}