//
// LINE-CLAMP MIXIN ------------------------------------------------------------------
//
// Mixin to trim a multiline text-element and add ellipsis (...)
// Note: only works in Webkit browsers & Safari
// http://www.css-101.org/articles/line-clamp/line-clamp_for_non_webkit-based_browsers.php
//

@import "compass/css3";


@mixin line-clamp($lines) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;

	// number of lines to show
	-webkit-line-clamp: $lines;
}