//
// TRIM MIXIN ------------------------------------------------------------------------
//
// Mixin to trim a text-element and add ellipsis (...)
// Note: only works with a fixed width & single line text
// http://www.electrictoolbox.com/ellipsis-html-css
//

@import "compass/css3";


@mixin trim {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}