//
// CSS FOR TABLET + DESKTOP ----------------------------------------------------------
//
// Dependencies: Sass + Compass
// http://sass-lang.com
// http://compass-style.org
//

@charset "utf-8";
@import "compass/css3";

@import "__retina-support";


// MEDIA QUERIES
// Default: mobile-portrait (override/add some desktop specific styles)
$tablet-portrait  : 768px;
$tablet-landscape : 1024px;
$desktop          : 1025px;


// BASE 64 ENCODED IMAGES
// Note: Encoded images must be smaller then 32kb (or IE won't show them)
// http://www.askapache.com/online-tools/base64-image-converter
// background: url(data:image/__typegoeshere__;base64,____);


// COMPASS VENDOR-PREFIXES
// @include experimental("{{__PROPERTY__}}", {{__VALUE__}}, not -webkit, not -moz, -o, -ms, -khtml, official);


// USING REM-UNITS vs EM-UNITS
// Not integrating this for the moment, but it's something to keep in mind
// rem-units are supported by all major browsers (except IE7, IE8)
// http://drublic.de/blog/rem-fallback-sass-less
// http://caniuse.com/#search=rem


//
// GENERAL ---------------------------------------------------------------------------
//
// Add some desktop specific styles here when working with responsive/fluid design
// In other words add your :hover states here (there not supported on mobile)
//

html {

}

a:hover, 
a:active {
	text-decoration: none;	
}


// Add .no-touch class to the HTML tag if touchEvents are not supported
// This way we can disable :hover states on touch-devices
// Note: javascript will add it for you - see js/sources/app.js
.no-touch {
		
}








//
// TABLET PORTRAIT -------------------------------------------------------------------
//

@media screen and (min-width: $tablet-portrait) {

}








//
// TABLET LANDSCAPE ------------------------------------------------------------------
//

@media screen and (min-width: $tablet-landscape) {

}








//
// DESKTOP ---------------------------------------------------------------------------
//

@media screen and (min-width: $desktop) {

}








//
// RETINA SUPPORT FOR HDPI SCREENS ---------------------------------------------------
//
// Include hdpi images for retina screens here
// Note: if you specify a non-retina image + retina image you'll download 2 images (!)
// If you want to enable fluid/responsive images without loading assets 2 times
// take a look at js/dev/responsiveImages.js
//

@include retinaSupport() { 

}







