//
// NON-MOBILE FIRST CSS SETUP --------------------------------------------------------
//
// Dependencies: Sass + Compass
// http://sass-lang.com
// http://compass-style.org
//

@charset "utf-8";
@import "compass/css3";

@import "__reset";
@import "__font-face";
@import "__retina-support";
@import "__trim";
@import "__line-clamp";
@import "__quotes";
@import "__emphasize-first-character";
@import "__embedded-content";
@import "__css3-animations";


// MEDIA QUERIES
// Default: mobile-portrait
$mobile-landscape : 480px;
$tablet-portrait  : 768px;
$tablet-landscape : 1024px;
$desktop          : 1025px;


// BASE 64 ENCODED IMAGES
// Note: Encoded images must be smaller then 32kb (or IE won't show them)
// http://www.askapache.com/online-tools/base64-image-converter
// background: url(data:image/__typegoeshere__;base64,____);


// COMPASS VENDOR-PREFIXES
// @include experimental("{{__PROPERTY__}}", {{__VALUE__}}, not -webkit, not -moz, -o, -ms, -khtml, official);


// USING REM-UNITS vs EM-UNITS
// Not integrating this for the moment, but it's something to keep in mind
// rem-units are supported by all major browsers (except IE7, IE8)
// http://drublic.de/blog/rem-fallback-sass-less
// http://caniuse.com/#search=rem


//
// CUSTOM WEBFONTS -------------------------------------------------------------------
//
// A custom webfont needs 4 file-types: .woff, .ttf, .svg, .eot
// All files need to be stored in ../fonts/
// http://www.fontsquirrel.com/tools/webfont-generator
//

@include fontFace("{{__My awesome font name__}}", "{{__my-awesome-font-name-(file-name-without-extension)__}}");








//
// HELPERS ---------------------------------------------------------------------------
//

// TRIM TEXT
// Trims & add ellipsis (...)
// Note: only works with a fixed width & single line text
.trim {
	@include trim;
}

// TRIM MULTILINE TEXT
// Trims & add ellipsis (...) to multiline text
// Note: only works with in Webkit browsers & Safari
.line-clamp {
	@include line-clamp(3);
}

// BREAK WORDS
// Prevent longwordsorurlswithoutspacesfrombreaking your layout
// http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css
// http://compass-style.org/reference/compass/css3/hyphenation
.break-word { 
	@include hyphenation;
}

// QUOTES
// Adds "quotes" to text
.quotes {
	@include quotes;
}

// EMPHASIZE
// Bigger, bold first character
// Note: doesn't work on inline elements (eg <span>)
.emphasize { 
	@include emphasizeFirstCharacter(180%);
}

// EMBEDDED CONTENT
// Wrapper for fluid embedded content (vimeo, youtube, slideshare, ...) @16:9 ratio
// For this to work, use the following HTML-structure:
// <div class="embed-content">
//     Embedded code...
// </div>
.embedded-content { 
	@include embedded-content;
}

// NO TOUCH CALLOUT
// Prevent a popup menu on mobile devices on touch & hold
// http://davidwalsh.name/webkit-css
.no-popup {
	-webkit-touch-callout: none;
}

// NON-SELECTABLE
// Prevent something from being selected with the mouse/touch
.non-selectable {
	@include experimental("user-select", none);
}

// CSS3 ANIMATIONS
// Mixin example for CSS3 animations
.CSS3Animation {
  	@include css3Animation(all, 300ms, cubic-bezier(.445, .045, .0355, 1));
}

// ENABLE HARDWARE ACCELERATION
// Kick in hardware acceleration (better performance on mobile)
// http://blog.teamtreehouse.com/increase-your-sites-performance-with-hardware-accelerated-css
.CSS3HardwareAcceleration {
	@include experimental("transform", translate3d(0, 0, 0));
}








//
// GENERAL ---------------------------------------------------------------------------
//

html {

}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;	
	font-size: 16px;

	// If the viewport meta tag is not included: use min-width for correct 
	// scaling on orientationchange (IOS default page-width: 980px)
	min-width: 980px;
}

h1 {
	font-size: 2.2em;
	line-height: 1.5em;
}

h2 {
	font-size: 1.8em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.4em;
	line-height: 1.5em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

a {
	text-decoration: underline;
}

hr {
	height: 1px;
	margin: 1.5em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #CCC;
	display: block;
}

.smaller {
	font-size: 70%;
}

// Add .no-touch class to the HTML tag if touchEvents are not supported
// This way we can disable :hover states on touch-devices
// Note: javascript will add it for you - see js/sources/app.js
.no-touch {
		
}






//
// MOBILE LANDSCAPE ------------------------------------------------------------------
//

@media screen and (min-width: $mobile-landscape) { 

}








//
// TABLET PORTRAIT -------------------------------------------------------------------
//

@media screen and (min-width: $tablet-portrait) {

}








//
// TABLET LANDSCAPE ------------------------------------------------------------------
//

@media screen and (min-width: $tablet-landscape) {

}








//
// DESKTOP ---------------------------------------------------------------------------
//

@media screen and (min-width: $desktop) {

}








//
// RETINA SUPPORT FOR HDPI SCREENS ---------------------------------------------------
//
// Include hdpi images for retina screens here
// Note: if you specify a non-retina image + retina image you'll download 2 images (!)
// If you want to enable fluid/responsive images without loading assets 2 times
// take a look at js/dev/responsiveImages.js
//

@include retinaSupport() { 

}








// FORMS -----------------------------------------------------------------------------
// styling of input elements is not crossbrowser
// needs additional platform tests
// http://s3.amazonaws.com/37assets/svn/480-custom_forms.html
/*
button, input, select, textarea {
	line-height: normal;
    font-family: inherit;
    font-size: 1.6em;
    padding: 5px;
    margin: 0;

    border: 1px solid #555;
   	background: #FFF;
   	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));

    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #FFF;

    -webkit-border-radius: .5em;
       -moz-border-radius: .5em;
            border-radius: .5em;
}
input:focus, 
select:focus, 
textarea:focus {
	outline: none;
	border: 2px solid #F00;
	margin: -1px;
}
textarea {
	height: 100px;
}
input[type=checkbox],
input[type=radio] {
   width: .9em;
   height: .9em;
   vertical-align: middle;
   -webkit-border-radius: .25em;
 }
 input[type=radio] {
	-webkit-border-radius: 2em;
}
// change color of placeholders
::-webkit-input-placeholder {
    color: #F00;
}
:-moz-placeholder {
    color: #F00;
}
:-ms-input-placeholder {
 	color: #F00;
}
*/